@model IndexViewModel
@{
    ViewBag.Title = "Account";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-2">Username:</dt>
        <dd class="col-md-10">@Model.Email</dd>

        <dt class="col-md-2">Password:</dt>
        <dd class="col-md-10">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
