@model IndexViewModel
@{
    ViewBag.Title = "Account";
}

<div>
    <h1>@ViewBag.Title</h1>
    <hr class="mb-4 bg-light" />
    <dl class="row">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <dt class="col-md-2">Username:</dt>
        <dd class="col-md-10">@Model.Email</dd>

        <dt class="col-md-2">Password:</dt>
        <dd class="col-md-10">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
